.header-container {
  height: 10vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #2c364c;
  padding: 20px;
  color: white;
}

.paragraph {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.img {
  height: 30px;
}